* {
    padding: 0px;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 25px 50px 25px 50px;
    background-color: #f2e2de
}

.header {
    width: 100%;
    height: 937px;
    color: #79acaa;
    font-family: verdana
}

.header h1 {
    text-align: center;
    font-size: 50px;
    line-height: 200px;
}

.info {
    text-align: center;
    color: #79acaa;
    line-height: 0px;
    font-family: verdana;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: 86%;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #c25454;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  .button:hover {background-color: #8d0303}
  
  .button:active {
    background-color: #c25454;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }