*{
    padding: 0px;
    margin: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
.header{
    width: 100%;
    height: 937px;
    background-color: #f2e2de;
    color: #79acaa;
    
}
.header h1{
    text-align: center;
    font-size: 50px;
    line-height: 200px;
}
.info{
    text-align: center;
    color: #79acaa; 
    line-height: 0px;
}
.parti{
    text-align: center;
    line-height: 700px;
}
.parti ul{
    list-style-type: none;
}
.parti ul li{
    display: inline;
}
.parti ul li a{
    color:white;
    background-color: red;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}
/* .parti ul li a:visited{
    color: white;
    background-color: blueviolet;
} */
